      <script>
        function copyRef() {
          document.querySelector('#refURL').select();
          document.execCommand('copy');
          alert("Ваша ссылка успешно скопированна!");
        }
      </script>
    </body>
</html>
