      <script>
        function copyRef() {
          document.querySelector('#refURL').select();
          document.execCommand('copy');
          alert("Ваша ссылка успешно скопированна!");
        }
        
        function openNav(){
          document.querySelector("nav").style.left = "0px";
        }
        
        function closeNav(){
          document.querySelector("nav").style.left = "-250px";
        }
      </script>
      
    </body>
</html>
