<html>
    <head>
        <title>Войдите в систему</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./css/admin.css">
    </head>
    <body>
        <div class="loginroom">
            <form action="/signupnext" method="POST" class="loginbox">
                <p>Заполните ваши данные</p>
                <input type="text" name="firstname" placeholder="Имя">
                <input type="hidden" name="userid" value="<%= userid %>">
                <input type="text" name="lastname" placeholder="Фамилия">
                <input type="text" name="docs" placeholder="ИИН">
                <input type="text" name="phone" placeholder="Сотовый без +">
                <% if (error && error.length > 0) { %>
                    <p class="error"><img src="./img/error.svg" class="icon" alt=""> <%= error %></p>
                <% } %>
                <input type="submit" class="submit" value="Продолжить">
            </form>
        </div>
    </body>
</html>