<% include ./partials/header %>

    <div class="hero">
        <img src="./img/logo.svg" class="logo" alt="">
        <!--button id="menu" class="hamburger hamburger--collapse" type="button">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
        </button-->
        <div id="menu">
            <% if(!currentUser) { %>
                <a href="/login">Войти</a>
                <a href="/signup">Регистрация</a>
            <% } else { %>
                <a href="/wallet">Личный кабинет</a>
            <% } %>
        </div>
        <div>
            <h1>Constant Investment</h1>
            <p>Наша компания занимается инвестициями и доверительным управлением. Мы выбираем активы, которые тщательно диверсифициваны
                и позволят вам начать стабильно зарабатывать уже сейчас.</p>
            <div class="buttons">
                <a href="#adv">Подробнее</a>
                <a href="/signup" class="yellow">Присоединится</a>
            </div>
        </div>
        <img src="./img/logo-big.svg" class="logo-big" alt="">
    </div>

    <!--div class="overlay">
        <a href="#">Войти</a>
        <a href="#">Регистрация</a>
    </div-->

    <div class="adv" id="adv">
        <div class="sign">
            <img src="./img/sign.svg" alt="">
            <div>
                <h2>Уникальное направление бизнеса</h2>
                <p>Данный вид инвестиций в Казахстане появился относительно недавно. Мы являемся одной из первых компаний развивающихся
                    в данном направлении.</p>
            </div>
        </div>
        <div class="fists">
            <img src="./img/team.svg" alt="">
            <div>
                <h2>Профессиональные управленческие кадры</h2>
                <p>Люди работающие в нашей компании имеют неограниченное количество возможностей чтобы изменить ваш взгляд на
                    смарт инвестиции.</p>
            </div>
        </div>
        <div class="laptop">
            <img src="./img/pig.svg" alt="">
            <div>
                <h2>Проработанный проект от А до Я</h2>
                <p>Проработанная модель бизнеса из Европы была взята в руки нашими профессионалами и внедрена на Казахстанский
                    рынок инвестиций.</p>
            </div>
        </div>
    </div>

    <div class="whyus">
        <h3>Почему мы?</h3>
        <h4>Наши преимущества</h4>
        <div class="yellow"></div>
        <div class="cards">
            <div class="box-shadow">
                <img src="./img/suit.jpg" alt="">
                <h5>Команда</h5>
                <p>Главное наше отличие от других это - слаженная работа нашей команды и вера наших инвесторов в достижении
                    общих целей.</p>
            </div>
            <div class="box-shadow">
                <img src="./img/goal.jpg" alt="">
                <h5>Цель</h5>
                <p>Построить прибыльный и эффективный бизнес в конкурентной среде по собственному уникальному сценарию и стратегии.</p>
            </div>
            <div class="box-shadow">
                <img src="./img/strategy.jpg" alt="">
                <h5>Стратегия</h5>
                <p>Уникальная стратегия 40-30-30 разработанная нашими специалистами дает возможность иметь доход не менее 10%
                    каждому инвестору.</p>
            </div>
        </div>
    </div>

    <div class="aboutus">
        <img src="./img/head.jpg" class="box-shadow" alt="">
        <h4>Наша история</h4>
        <h3 class="white">Немного о нас</h3>
        <div class="articles">
            <p>Большинство людей даже не подозревают на сколько давно существуют смарт инвестиции,
 и оборот их составляет в несколько сотен миллиардов долларов. В первые мы решили 
запустить подобную компанию у нас в Казахстане для разного уровня населения, 
и открыть возможность не </p>
            <p> только для крупных предпринимателей и инвесторов 
но и простому человеку. Этот бизнес открыт для всех, где каждый может 
раскрыть свой потенциал и поучаствовать в разработке собственного бизнеса
 в увеличении собственного капитала.</p>
        </div>
    </div>

    <div class="centered">
        <div class="rectFact box-shadow">
            <div class="video">

            </div>
            <div class="text">
                <h4>А вы знали?</h4>
                <h3>Более 600 клиентов уже доверяют нам.</h3>
                <p>Мы ценим профессионализм, доверительность друг-другу, долгосрочные отношения. Мы уверены что вы - наши новые
                    партнеры это те люди, которых не останавливает все новое, чтобы получить захватывающее удовольствие от
                    новых достижений и побед. Вы доверяете нам а мы готовы открыть перед вами новые двери в будущее!</p>
                <a href="#" style="display:none;">Подробнее</a>
            </div>
        </div>
        <div class="rectFact box-shadow">
            <div class="text reverse">
                <h4>А вы знали?</h4>
                <h3>Мы эксперты в этой области уже давно.</h3>
                <p>Успех любого бизнеса заключается в продуманном и разработанном проекте от начала идеи и до конца его внедрения
                    на рынок. Также немаловажную роль играют люди, которые разрабатывали проект, и те люди которые присоединятся
                    к данному проекту на самом истоке глобального развития.</p>
                <a href="#" style="display:none;">Подробнее</a>
            </div>
            <div class="conf">

            </div>
        </div>
    </div>
    
    <!--div class="centered gen">
        <div class="general">
            <img src="./img/logo-big.svg" class="logogen" alt="">
            <div class="triangle"></div>
            <h3><img src="img/triangle.svg">Для новых вкладчиков:</h3>
            <p>Открыть аккаунт от <span class="gold">1s</span> под <span class="gold">10%</span> и получите подкрепленный номер для участия.</p>
            <h3><img src="img/triangle.svg">Для действующих вкладчиков:</h3>
            <p>У кого подошел срок выплаты процентов на март месяц, не забирать свой процент, а получить присвоенный ему номер для участия в лотерее. </p>
            <p>Вкладчики которые уже получили свои проценты и вкладчики у которых не подошел срок, смогут дополнительно открыть аккаунт на <span class="gold">1s</span> под <span class="gold">10%</span>, и принять участие в розыгрыше автомобиля <span class="gold">"MERCEDES BENZ"</span></p>
            <img src="img/mercedes-benz-logo.png" class="carlogo">
        </div>
    </div-->
    
    <!--div class="centered">
        <div class="promotion">
            <div>
                <h2>Привлеки  <b class="gold">10g</b>  за 14 дней и получи <b class="gold">1g</b> на счёт <span>Быстрый старт</span></h2>
                <div class="promargin"></div>
                <h2>Зарегестрируйся на прямую от компании и создай свою структуру<span>создай свой клан</span></h2>
                <p>20 человек <span class="gold">2g</span> бонус структруре</p>
                <p>40 человек <span class="gold">4g</span> бонус структуре</p>
                <p>60 человек <span class="gold">9g</span> бонус структуре</p>
                <div class="promargin"></div>
                <h2>розыгрыш между лидерами<span>Бонус от руководства</span></h2>
                <p>Полугодие <span class="gold">20g</span></p>
                <p>Годовой <span class="gold">40g</span></p>
                <p><br></p>
                <h2 id="month">Ежемесячно кто привлёк больше людей получает путевку</h2>
            </div>
            <div>
                <h2>Лидерский бонус <span>Развивай свой клан</span></h2>
                <p>1урв <span class="gold">20g</span> + <span class="gold">2g</span> премия</p>
                <p>2урв <span class="gold">40g</span> + <span class="gold">4g</span> премия</p>
                <p>3урв <span class="gold">60g</span> + поездка за границу (м+ж+дети) + <span class="gold">2g</span>  премия</p>
                <p>4урв <span class="gold">100g</span> + машина</p>
                <p>5урв <span class="gold">150g</span> + квартира</p>
                <p>6лвл <span class="gold">200g</span> + бизнес под ключ от компании </p>
                <p>7урв <span class="gold">300g</span> + 1% от прибыли компании(ограничено)</p>
                <div class="summary">
                    <div>
                        <h2>ИТОГИ ПОЛУГОДИЯ</h2>
                        <p>Розыгрыш машины</p>
                    </div>
                    <div>
                        <h2>ИТОГИ ГОДА</h2>
                        <p>Розыгрыш квартиры</p>
                    </div>
                </div>
            </div>
        </div>
    </div-->
    
    <!--div class="dubaiHandler">
        <div class="dubai">
            <div>
                <h3>Дубай вместе с Constant Investment</h3>
                <h4>Количество мест ограничено, успей зарегистрироваться</h4>
            </div>
            <div>
                <h5>Полные правила участия в данной поездке:</h5>
                <p>- Зарегистрируй аккаунт <span class="gold">1g</span>, туристическая путевка на 1 человека</p>
                <p>- Зарегистрируй аккаунт <span class="gold">2g</span>, 1 туристическая путевка на 2 человека</p>
                <p class="smalll"><span class="gold">В поездку включены:</span> перелет Алматы - Дубай, с проживанием в Marina View Hotel Apartments, ряд профессиональных бизнес тренингов, встреча со специалистами информационной поддержки.</p>
            </div>
        </div>
    </div-->

    <!--div class="quote">
        <div class="face"></div>
        <div class="saying">
            <img src="./img/quote.svg" alt="">
            <p>Наша цель - быть в сердце сферы предоставления финансовых услуг для расширения бизнесов по всему миру.</p>
            <h3></h3>
            <h4>Директор компании</h4>
        </div>
    </div-->

    <!--div class="whyus">
        <h3>Последние новости</h3>
        <h4>подзаголовок тут</h4>
        <div class="yellow"></div>
        <div class="cards">
            <div class="box-shadow">
                <img src="./img/suit.jpg" alt="">
                <h5>Заголовок новости</h5>
                <p>Главное наше отличие от других это - слаженная работа нашей команды и вера наших инвесторов в достижении
                    общих целей.</p>
            </div>
            <div class="box-shadow">
                <img src="./img/goal.jpg" alt="">
                <h5>Заголовок новости</h5>
                <p>Построить прибыльный и эффективный бизнес в конкурентной среде по собственному уникальному сценарию и стратегии.</p>
            </div>
            <div class="box-shadow">
                <img src="./img/strategy.jpg" alt="">
                <h5>Заголовок новости</h5>
                <p>Уникальная стратегия 40-30-30 разработанная нашими специалистами дает возможность иметь доход не менее 10%
                    каждому инвестору.</p>
            </div>
        </div>
    </div-->

    <!--div class="feedback">
        <h3 class="white">Отзывы клиентов</h3>
        <div class="controls">
            <img src="./img/left.svg" class="leftslide" alt="">
            <img src="./img/right.svg" class="rightslide" alt="">
        </div>
        <div class="slide-wrapper">
            <div class="cycle-slideshow" data-cycle-swipe=true data-cycle-swipe-fx=scrollHorz data-cycle-slides="div.slide" data-cycle-prev=".leftslide"
                data-cycle-next=".rightslide" data-cycle-easing="linear" data-cycle-speed="500" data-cycle-timeout="5000" data-cycle-fx="scrollHorz">
                <div class="slide">
                    <div class="mainScreen">
                        <p>Благодарю. Я получила свой первый доход, Благодарю Аллаха, Благодарю себя, Благодарю инвесторов, Благодарю компанию и сотрудников, процветайте и приумножайте мои деньги, наши деньги, свои деньги  ваш успех мой успех. Пусть всегда везёт Вам и повезёт Нам Я люблю Constant Investment с вами будущее!</p>
                        <div class="author">
                            <div>
                                <img src="./img/quote.svg" alt="">
                            </div>
                            <div>
                                <h3 class="white">Сауле</h3>
                                <h4 class="gray">Довольный клиент</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="mainScreen">
                        <p>Constant investment для меня открыл новые возможности инвестирования , индивидуальный и доверительный подход к каждому клиенту. Мои деньги приносят колосальные доходы благодаря constant investment, а самое главное я сплю спокойно, ведь гарантом моих инвестиции являктся золотой резерв. С constant investment мечты становятся реальностью！</p>
                        <div class="author">
                            <div>
                                <img src="./img/quote.svg" alt="">
                            </div>
                            <div>
                                <h3 class="white">Тимур</h3>
                                <h4 class="gray">Довольный клиент</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div-->

    <div class="centered">
        <div class="contactus">
            <div class="ask">
                <h3>Хотите чтобы мы перезвонили?</h3>
                <div class="yellow"></div>
                <p>Пожалуйста заполните форму и мы позвоним вам в ближайшее время.</p>
            </div>
            <form action="/contact" method="POST">
                <input type="text" placeholder="Имя" name="name">
                <input type="text" placeholder="E-mail*" name="email">
                <input type="text" placeholder="Тема*" name="thread">
                <input type="text" placeholder="Номер телефон" name="company">
                <textarea name="" id="" cols="30" rows="5" placeholder="Сообщение*" name="message"></textarea>
                <input type="submit" class="submit" value="Отправить">
            </form>
        </div>
    </div>

    <footer>
        <div>
            <img src="./img/logo.svg" alt="">
            <p>
                <img src="./img/location.svg" style="position: relative; left: -0.3rem;" alt=""> Достык 180, 111 офис</p>
            <p>
                <img src="./img/phone.svg" alt=""> +7 (700) 365-84-46</p>
            <p>
                <img src="./img/phone.svg" alt=""> +7 (777) 677-37-37</p>
            <!--p><img src="./img/mail.svg" alt=""> info@cigolden.com</p-->
        </div>
        <!--div>
            <h3>Последние новости</h3>
            <h4>Я тону под весом груза</h4>
            <h5>4 января, 2018</h5>
            <h4>Я тону под весом груза</h4>
            <h5>4 января, 2018</h5>
            <h4>Я тону под весом груза</h4>
            <h5>4 января, 2018</h5>
        </div-->
        <div>
            <h3>Карта сайта</h3>
            <a href="/">Главная</a>
            <a href="/signup">Регистрация</a>
            <a href="/login">Личный Кабинет</a>
            <a href="/reset">Забыл пароль</a>
        </div>
        <div>
            <h3>Напишите нам</h3>
            <form class="small" action="/contact" method="POST">
                <input type="email" placeholder="Email*" name="name">
                <input type="text" placeholder="Тема*" name="thread">
                <textarea name="" id="" cols="30" placeholder="Сообщение*" rows="3"></textarea>
                <input type="submit" class="submit" value="Отправить">
            </form>
        </div>
    </footer>

    <div class="copy">
        <p>Все права защищены. Constant Investment. 2018.</p>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
      <script>
        $( document ).ready(function() {
            $('a[href*="#"]').not('[href="#"]').not('[href="#0"]').click(function(event) {
              // On-page links
              if (
                location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') 
                && 
                location.hostname == this.hostname
              ) {
                // Figure out element to scroll to
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                // Does a scroll target exist?
                if (target.length) {
                  // Only prevent default if animation is actually gonna happen
                  event.preventDefault();
                  $('html, body').animate({
                    scrollTop: target.offset().top
                  }, 1000, function() {
                    // Callback after animation
                    // Must change focus!
                    var $target = $(target);
                    $target.focus();
                    if ($target.is(":focus")) { // Checking if the target was focused
                      return false;
                    } else {
                      $target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
                      $target.focus(); // Set focus again
                    };
                  });
                }
              }
            });
        });
      </script>

<% include ./partials/footer %>