<html>
    <head>
        <title>Войдите в систему</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./css/admin.css">
    </head>
    <body>
        <div class="loginroom">
            <form action="/login" method="POST" class="loginbox">
                <p>Авторизация</p>
                <input type="text" name="username" placeholder="Логин">
                <input type="password" name="password" placeholder="Пароль">
                <% if (login_errors && login_errors!= []) { %>
                    <p class="error"><img src="./img/error.svg" class="icon" alt=""> <%= login_errors %></p>
                <% req.session.messages = []; } %>
                <input type="submit" class="submit" value="Войти">
                
                <a class="reset" href="#">Забыли пароль?</a>
            </form>
        </div>
    </body>
</html>