<% include ./partials/header %>

    <div class="hero short">
        <img src="./img/logo.svg" class="logo" alt="">
        <div id="menu">
            <a href="/wallet">Личный кабинет</a>
        </div>
    </div>
    <div class="centered">
        <div class="strats">
            <div class="heads">
                <h1>Инвестиционные
                    <br>стратегии</h1>
                <div class="yell"></div>
                <p>Уникальная стратегия
                    <span>40-30-30</span> разработанная нашими специалистами гарантирует от
                    <span>10% до 30%</span>.стабильного дохода каждому инвестору.</p>
                <p>
                    <span>Умеренная</span> — доходность
                    <span>не менее 10%</span>, при очень умеренных и тщательно диверсифицированных рисках.</p>
            </div>
            <div class="pie">
                <div class="circle">
                    <img src="./img/pie.png" alt="">
                    <p class="hundred">100%</p>
                    <div class="lab">
                        <h3 id="gold">Золотой резерв
                            <span>40%</span>
                        </h3>
                    </div>
                    <div class="lab">
                        <h3 id="invest">Активные инвестиции
                            <span>30%</span>
                        </h3>
                    </div>
                    <div class="lab">
                        <h3 id="longterm">Долгосрочные инвестиции
                            <span>30%</span>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="desc">
        <div class="heads" id="trustiki">
            <h1 class="white">Доверительное<br>управление</h1>
            <div class="yell"></div>
        </div>
        <div>
            <div class="trust">
                <h4>Что такое доверительное управление?</h4>
                <p>Это передача клиентом права распоряжения своими активами управляющей компании.</p>
            </div>
            <div class="trust">
                <h4>Какая цель доверительного управления?</h4>
                <p>Получать максимально высокий инвестиционный доход в рамках оговоренной стратегии.</p>
            </div>
            <div class="trust">
                <h4>Что такое доверительное управление?</h4>
                <p>Доверительное управление нашей компанией — это выбор активов, который тщательным образом диверсифицирован.
                    Приобретаются предприятия и акции предприятий, работающих в разных странах, отраслях, направлениях. Также
                    в портфель будут добавлены часть акции «прорывных» быстрорастущих компаний, особенно в сфере высоких
                    технологий и инновационных решений. Это позволит не только сбалансировать портфель, диверсифицировать
                    возможные риски, но и получать дополнительную высокую прибыль.</p>
            </div>
        </div>
    </div>

    <div class="centered">
        <div class="strats peps">
            <div class="heads">
                <h1>Рекомендационный
                    <br> маркетинг</h1>
                <div class="yell"></div>
                <p>Приведите к нам партнёра — и Вы, как посредник получите 15% от вложенной суммы всех приведённых вами партнёров.
                    И 5% от привлеченных партнеров вашими партнерами.</p>
            </div>
            <div class="peps">
                <img src="./img/peps.png" alt="">
            </div>
        </div>
    </div>

    <div class="invite">
        <div>
            <img class="stairs" src="./img/stairs.png" alt="">
        </div>
        <div class="heads reverse">
            <h1 class="white">Приглашайте и<br>зарабатывайте</h1>
            <div class="yell"></div>
            <p>Приведите к нам партнёра — и Вы, как посредник получите 15% от вложенной суммы всех приведённых вами партнёров.
                И 5% от привлеченных партнеров вашими партнерами.</p>
        </div>
    </div>

    <div class="passive">
        <h1>Пассивный доход</h1>
        <div class="yell"></div>
        <p>Пусть ваши деньги работают пока вы спите и зарабатывают вам от 10% до 25% каждый месяц.</p>
    </div>

    <footer>
        <div>
            <img src="./img/logo.svg" alt="">
            <p>
                <img src="./img/location.svg" style="position: relative; left: -0.3rem;" alt=""> Момышулы 27</p>
            <p>
                <img src="./img/phone.svg" alt=""> +7 (776) 197-76-56</p>
            <p>
                <img src="./img/mail.svg" alt=""> info@cigolden.com</p>
        </div>
        <div>
            <h3>Последние новости</h3>
            <h4>Я тону под весом груза</h4>
            <h5>4 января, 2018</h5>
            <h4>Я тону под весом груза</h4>
            <h5>4 января, 2018</h5>
            <h4>Я тону под весом груза</h4>
            <h5>4 января, 2018</h5>
        </div>
        <div>
            <h3>Карта сайта</h3>
            <a href="#">Главная</a>
            <a href="#">Связаться с нами</a>
            <a href="#">Карта сайта</a>
            <a href="#">Карта</a>
            <a href="#">Позвонить</a>
            <a href="#">Личный Кабинет</a>
        </div>
        <div>
            <h3>Напишите нам</h3>
            <form class="small">
                <input type="text" placeholder="Имя*">
                <input type="text" placeholder="Тема*">
                <textarea name="" id="" cols="30" placeholder="Сообщение*" rows="3"></textarea>
                <a class="submit">Отправить</a>
            </form>
        </div>
    </footer>

    <div class="copy">
        <p>Все права защищены. Constant Investment. 2018.</p>
    </div>
</body>

</html>