<% include ./partials/header %>

    <div class="hero short">
        <img src="./img/logo.svg" class="logo" alt="">
        <div id="menu">
            <a href="/wallet">Личный кабинет</a>
        </div>
    </div>
    <div class="centered">
        <div class="strats">
            <div class="heads">
                <h1>Инвестиционные
                    <br>стратегии</h1>
                <div class="yell"></div>
                <p>Уникальная стратегия
                    <span>40-30-30</span> разработанная нашими специалистами гарантирует от
                    <span>10% до 30%</span>.стабильного дохода каждому инвестору.</p>
                <p>
                    <span>Умеренная</span> — доходность
                    <span>не менее 10%</span>, при очень умеренных и тщательно диверсифицированных рисках.</p>
            </div>
            <div class="pie">
                <div class="circle">
                    <img src="./img/pie.png" alt="">
                    <p class="hundred">100%</p>
                    <div class="lab">
                        <h3 id="gold">Золотой резерв
                            <span>40%</span>
                        </h3>
                    </div>
                    <div class="lab">
                        <h3 id="invest">Активные инвестиции
                            <span>30%</span>
                        </h3>
                    </div>
                    <div class="lab">
                        <h3 id="longterm">Долгосрочные инвестиции
                            <span>30%</span>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="desc">
        <div class="heads" id="trustiki">
            <h1 class="white">Доверительное<br>управление</h1>
            <div class="yell"></div>
        </div>
        <div>
            <div class="trust">
                <h4>Что такое доверительное управление?</h4>
                <p>Это передача клиентом права распоряжения своими активами управляющей компании.</p>
            </div>
            <div class="trust">
                <h4>Какая цель доверительного управления?</h4>
                <p>Получать максимально высокий инвестиционный доход в рамках оговоренной стратегии.</p>
            </div>
            <div class="trust">
                <h4>Что такое доверительное управление?</h4>
                <p>Доверительное управление нашей компанией — это выбор активов, который тщательным образом диверсифицирован.
                    Приобретаются предприятия и акции предприятий, работающих в разных странах, отраслях, направлениях. Также
                    в портфель будут добавлены часть акции «прорывных» быстрорастущих компаний, особенно в сфере высоких
                    технологий и инновационных решений. Это позволит не только сбалансировать портфель, диверсифицировать
                    возможные риски, но и получать дополнительную высокую прибыль.</p>
            </div>
        </div>
    </div>

    <div class="centered">
        <div class="strats peps">
            <div class="heads">
                <h1>Рекомендационный
                    <br> маркетинг</h1>
                <div class="yell"></div>
                <p>Приведите к нам партнёра — и Вы, как посредник получите 10% от вложенной суммы всех приведённых вами партнёров.
                    И 5% от привлеченных партнеров вашими партнерами.</p>
            </div>
            <div class="peps">
                <img src="./img/peps.png" alt="">
            </div>
        </div>
    </div>

    <div class="centered gen">
        <div class="general">
            <img src="./img/stairs.svg" class="logogen" alt="">
            <div class="triangle"></div>
            <h3><img src="img/triangle.svg">БОНУСЫ ОТ ПРИВЛЕЧЕНИЙ (БОП):</h3>
            <div id="debr">
                <p><span class="gold">1</span> уровень – 10%, <span class="gold">2</span> уровень – 5%</p>
                <p><span class="gold">3</span> уровень – 5%, <span class="gold">4</span> уровень – 2%</p>
                <p><span class="gold">5</span> уровень – 2% (Бонус), <span class="gold">6</span> уровень – 2%</p>
            </div>
            <div id="mobr">
                <p><span class="gold">1</span> уровень – 10%,</p>
                <p><span class="gold">2</span> уровень – 5%,</p>
                <p><span class="gold">3</span> уровень – 5%,</p>
                <p><span class="gold">4</span> уровень – 2%,</p>
                <p><span class="gold">5</span> уровень – 2%,</p>
                <p><span class="gold">6</span> уровень – 2%</p>
            </div>
            <h3><img src="img/triangle.svg">БОНУСЫ ОТ ТОВАРООБОРОТА:</h3>
            <p><span class="gold">-</span> Новичок: 10.000тг. + <span class="gold">4</span> уровень (в БОП)</p>
            <p><span class="gold">-</span> Менеджер: 20.000тг. + 3% (Бэк)</p>
            <p><span class="gold">-</span> Рег. Менеджер: 80.000тг. + <span class="gold">5</span> уровень  (в БОП)</p>
            <p><span class="gold">-</span>  Директор: 160.000тг. +5% (Бэк)</p>
            <p><span class="gold">-</span>  Лидер: 320.000тг. +<span class="gold">6</span> уровень (в БОП)</p>
            <p><span class="gold">-</span> Бронзовый Лидер: 960.000тг. +5% на <span class="gold">3</span> уровень(в БОП)</p>
            <p><span class="gold">-</span> Сереб. Лидер: 1.900.000тг.  +5% на <span class="gold">2</span> уровень(в БОП)</p></p>
            <p><span class="gold">-</span> Золотой Лидер: 3.600.000тг. +5% на <span class="gold">1</span> уровень(в БОП)</p>
        </div>
    </div>

    <div class="passive">
        <h1>Пассивный доход</h1>
        <div class="yell"></div>
        <p>Пусть ваши деньги работают пока вы спите и зарабатывают вам от 10% до 25% каждый месяц.</p>
    </div>

    <footer>
        <div>
            <img src="./img/logo.svg" alt="">
            <p>
                <img src="./img/location.svg" style="position: relative; left: -0.3rem;" alt=""> Достык 180, 111 офис</p>
            <p>
                <img src="./img/phone.svg" alt=""> +7 (700) 365-84-46</p>
            <p>
                <img src="./img/phone.svg" alt=""> +7 (777) 677-37-37</p>
            <!--p><img src="./img/mail.svg" alt=""> info@cigolden.com</p-->
        </div>
        <!--div>
            <h3>Последние новости</h3>
            <h4>Я тону под весом груза</h4>
            <h5>4 января, 2018</h5>
            <h4>Я тону под весом груза</h4>
            <h5>4 января, 2018</h5>
            <h4>Я тону под весом груза</h4>
            <h5>4 января, 2018</h5>
        </div-->
        <div>
            <h3>Карта сайта</h3>
            <a href="/">Главная</a>
            <a href="/signup">Регистрация</a>
            <a href="/login">Личный Кабинет</a>
            <a href="/reset">Забыл пароль</a>
        </div>
        <div>
            <h3>Напишите нам</h3>
            <form class="small" action="/contact" method="POST">
                <input type="email" placeholder="Email*" name="name">
                <input type="text" placeholder="Тема*" name="thread">
                <textarea name="" id="" cols="30" placeholder="Сообщение*" rows="3"></textarea>
                <input type="submit" class="submit" value="Отправить">
            </form>
        </div>
    </footer>

    <div class="copy">
        <p>Все права защищены. Constant Investment. 2018.</p>
    </div>
</body>

</html>