<html>
    <head>
        <title>Войдите в систему</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./css/admin.css">
    </head>
    <body>
        <div class="loginroom">
            <form class="loginbox">
                <p>Вы успешно зарегистрировались! На ваш e-mail адрес было отправленно письмо с дальнейшими инструкциями.</p>
            </form>
        </div>
    </body>
</html>