<% include ./header %>

              <div class="flex-grid">
                  <div>
                    <h2>Бонусная система</h2>
                    <p>Вы можете получать бонусы по мере приглашения новых пользователей.</p>
                    <p><br></p>
                    <div class="field">
                      <p>Вы пригласили: <%= refered %> чел.</p>
                    </div>
                    <table class="refered">
                      <tr>
                        <td><strong>Пригласите</strong></td>
                        <td><strong>Получите</strong></td>
                      </tr>
                      <tr>
                        <td>10 человек</td>
                        <td>150 000 тг</td>
                      </tr>
                      <tr>
                        <td>15 человек</td>
                        <td>250 000 тг</td>
                      </tr>
                      <tr>
                        <td>20 человек</td>
                        <td>250 000 тг</td>
                      </tr>
                      <tr>
                        <td>25 человек</td>
                        <td>350 000 тг</td>
                      </tr>
                      <tr>
                        <td>30 человек</td>
                        <td>350 000 тг</td>
                      </tr>
                      <tr>
                        <td>35 человек</td>
                        <td>400 000 тг</td>
                      </tr>
                      <tr>
                        <td>40 человек</td>
                        <td>450 000 тг</td>
                      </tr>
                      <tr>
                        <td>45 человек</td>
                        <td>500 000 тг</td>
                      </tr>
                      <tr>
                        <td>50 человек</td>
                        <td>550 000 тг</td>
                      </tr>
                    </table>
                  </div>
              </div>
      </main>
  </div>
<% include ./footer %>
          