<% include ./header %>

              <!--div class="flex-grid">
                <div>
                  <h2>Clean CSS Code</h2>
                  <ul>
                    <li>no position: absolute</li>
                    <li>no float</li>
                    <li>no clearfix</li>
                    <li>no faux columns</li>
                    <li>no javascript</li>
                  </ul>
                </div>
                <div>
                  <h2>Font Awesome</h2>
                  <ul>
                    <li>no images</li>
                    <li>no extra retina sprites</li>
                  </ul>
                </div>
                <div>
                  <h2>SCSS</h2>
                  <ul>
                    <li>no headache :)</li>
                  </ul>
                </div>
              </div-->
              <!--div class="flex-grid">
                <div>
                  <h2>Headline</h2>
                  Some Content
                </div>
                <div>
                  <h2>Headline</h2>
                  Some Content
                </div>
              </div-->
          
              <!--div class="flex-grid">
                <div>
                  <h2>Headline</h2>
                  Some Content
                </div>
              </div-->

              <div class="flex-grid">
                  <div>
                    <h2>Управление балансом аккаунта</h2>
                    <div class="field">
                      <p>Первоначальная инвестиция</p>
                      <input type="text" value="<%= user.balance.toFixed(2) %>" disabled>
                    </div>
                    <div class="field">
                      <p>Чистая прибыль</p>
                      <input type="text" value="<%= user.net_profit.toFixed(2) %>" disabled>
                    </div>
                    <div class="field">
                      <p>Предворительная прибыль</p>
                      <input type="text" value="<%= next_profit.toFixed(2) %>" disabled>
                    </div>
                    <div class="pie pie1">
                        <div class="title">Дней осталось до выплаты.</div>
                        <div class="outer-right mask">
                            <div class="inner-right"></div>
                        </div>
                    
                        <div class="outer-left mask">
                            <div class="inner-left"></div>
                        </div>
                        <div class="content">
                            <span><%= daystillpayment %></span>
                        </div>
                        <div class="arrow"></div>
                    </div>
                  </div>
              </div>

              
          
      </main>
  </div>
<% include ./footer %>
          