<% include ./header %>

              <div class="flex-grid">
                  <div>
                    <h2>Заявка на вывод денег</h2>
                    <div class="field">
                      <p>Доступная сумма для вывода</p>
                      <input type="text" value="<%= available_funds.toFixed(2) %>" disabled>
                    </div>
                    
                    
                  </div>
              </div>

              
          
      </main>
  </div>
<% include ./footer %>
          